body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1faee;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-family: 'Amaranth', sans-serif;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form {
    width: 40rem;
    background-color: #a8dadc;
    margin: 0 auto;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(184, 184, 184, 0.568);
}

form h2 {
    font-family: 'Amaranth', sans-serif;
}

input,
textarea,
select {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #b8b8b8;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: rgb(61, 58, 58);
    font: inherit;
    display: block;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    background-color: #f1faee;
}

.form-control {
    display: flex;
}

.form-control input {
    width: auto;
    margin-left: 0.3rem;
}

.btn {
    display: flex;
    justify-content: flex-end;
    gap: 3px;
}

button {
    padding: 0.7rem 1.7rem;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
}

button:first-of-type {
    border: 2px solid #b8b8b8;
    background-color: #a8dadc;
}

button:first-of-type:hover {
    background-color: #fbfcfc;
    cursor: pointer;
}

button:nth-of-type(2) {
    background-color: #1d3557;
    color: white;
}

button:nth-of-type(2):hover {
    cursor: pointer;
    background-color: #264570;
}